<div class="example-container">
  <h2 mat-dialog-title>{{ titulo }}</h2>
  <mat-dialog-content [formGroup]="formGroup">

    <mat-form-field>
      <mat-select placeholder="Tipo de Pago" formControlName="qn_tipoPago">
        <mat-option *ngFor="let tipo of tiposPago" (click)="setTipoPago(tipo)" value="{{tipo.tipoID}}">{{tipo.txt_nombreTipo}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Cuando la opcion es Contra Entrega-->
    <div *ngIf="!esParcial">
      <div formArrayName="pagos" *ngFor="let pago of formGroup.get('pagos').controls; let i = index;">
        <div class="form-group" [formGroupName]="i">
          <div class="row fields-container small">
            <div class="col-md-2">
              <mat-form-field class="example-full-width">
                <input matInput #cant [value]="porcentajeContraEntrega" type="text" readonly onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="%" formControlName="qn_porcentajePago">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input type="number" formControlName="vm_montoPago" matInput readonly placeholder="Valor">
              </mat-form-field>
            </div>
            <div class="col-sm-5">
              <mat-form-field>
                <mat-label>Fecha tentativa de Pago</mat-label>
                <input matInput [matDatepicker]="dt_tentativaPago" formControlName="dt_tentativaPago" readonly>
                <mat-datepicker-toggle matSuffix [for]="dt_tentativaPago"></mat-datepicker-toggle>
                <mat-datepicker #dt_tentativaPago></mat-datepicker>
              </mat-form-field>
            </div>            
          </div>
        </div>
      </div>
    </div>

    <!-- Cuando la foema de pago es Parcial-->
    <div *ngIf="esParcial">
      <div class="row fields-container small">
        <label class="col-sm-3"><strong>Agregar Pagos</strong></label>
        <div class="col-sm-2">
          <span class="float-right">
            <a class="text-warning" (click)="agregarPago()">
              <i class="fa fa-fw fa-plus fa-2x" aria-hidden="true"></i>
            </a>
          </span>
        </div>
      </div>
      <div formArrayName="pagos" *ngFor="let pago of formGroup.get('pagos').controls; let i = index;">
        <div class="form-group" [formGroupName]="i">
          <div class="row fields-container small">
            <div class="col-md-2">
              <mat-form-field class="example-full-width">
                <input matInput #cant [value]="porcentajeParcial" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="%" (change)="updateValue($event.target.value)" formControlName="qn_porcentajePago">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input type="number" [value]="valorPorcentaje" formControlName="vm_montoPago" matInput readonly placeholder="Valor">
              </mat-form-field>
            </div>
            <div class="col-sm-5">
              <mat-form-field>
                <mat-label>Fecha de Pago</mat-label>
                <input matInput [matDatepicker]="dt_tentativaPago" formControlName="dt_tentativaPago" readonly>
                <mat-datepicker-toggle matSuffix [for]="dt_tentativaPago"></mat-datepicker-toggle>
                <mat-datepicker #dt_tentativaPago></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-2" *ngIf="i===0">
              <mat-checkbox class="example-margin" formControlName="bol_esAnticipo">Anticipo?</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    



  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="row">
      <div class="col-xl-6">
        <button class="mat-raised-button" (click)="close()">Cancelar</button>
      </div>
      <div class="col-xl-6">
        <button class="mat-raised-button mat-primary" (click)="save()">Guardar</button>
      </div>     
    </div>    
  </mat-dialog-actions>


</div>

<!-->div class="example-container">

  <h2 mat-dialog-title>{{ titulo }}</h2>

  <mat-dialog-content [formGroup]="formGroup">

    <mat-form-field>
      <mat-select placeholder="Tipo de Pago" formControlName="qn_tipoPago">
        <mat-option *ngFor="let tipo of tiposPago" value="{{tipo.tipoID}}">{{tipo.txt_nombreTipo}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row fields-container small">
      <div class="form-group row">
        <label class="col-sm-12 col-form-label"><strong>Pagos</strong></label>
      </div>
      <div class="form-group row ml-2">
        <span class="table-add float-right mb-0 mr-0">
          <a class="text-warning" (click)="agregarPago()">
            <i class="fa fa-fw fa-plus fa-2x" aria-hidden="true"></i>
          </a>
        </span>
      </div>
      <div formArrayName="pagos" *ngFor="let pago of formGroup.get('pagos').controls; let i = index;">
        <div class="form-group" [formGroupName]="i">
          <div class="row fields-container small">
            <div class="col-md-2">
              <mat-form-field class="example-full-width">
                <input matInput type="number" formControlName="qn_porcentajePago" placeholder="%">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input type="number" formControlName="vm_montoPago" matInput placeholder="Valor">
              </mat-form-field>
            </div>
            <div class="col-sm-5">
              <mat-form-field>
                <mat-label>Fecha de Pago</mat-label>
                <input matInput [matDatepicker]="dt_tentativaPago" formControlName="dt_tentativaPago" readonly>
                <mat-datepicker-toggle matSuffix [for]="dt_tentativaPago"></mat-datepicker-toggle>
                <mat-datepicker #dt_tentativaPago></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-checkbox class="example-margin">Anticipo?</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cancelar</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Guardar</button>
  </mat-dialog-actions>


</div-->


